* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  display: flex;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}

body > img {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  z-index: -1;
}

body::-webkit-scrollbar {
  display: none;
  padding: 0 5vw;
}

section {
  margin: 3rem 5vw;
}

section img {
  width: 15rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

/* Main Container */
.main-container {
  width: 45vw;
  height: auto;
  background-color: rgb(10, 6, 6, .9);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.logo img {
  height: 9rem;
}

.logo h1 {
  font-size: 4rem;
  width: 200px;
}

/* Selling Question */
.selling-question {
  display: flex;
}

/* Selling Pitch */
.selling-pitch {
  display: flex;
}

.pitch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

/* Sign Up */
.sign-up-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
}

.sign-up-section img {
  width: 35rem;
  margin-top: 5rem;
}

.sign-up-section h2 {
  margin-top: 3rem;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  /* change later */
  overflow: hidden;
  height: 2rem;
  margin-bottom: 20rem;

  width: 100%;
  margin-top: 2rem;
  font-size: 1.563rem;
  color: black;
}

form label:not(.shown > *) {
  position: relative;
  top: 2rem;
  left: .5rem;
}

form input {
  font-size: 1.563rem;
}

.shown {
  display: flex;
  position: relative;
}

.shown input {
  flex: 4;
}

.shown button {
  flex: 1;
}

.shown label {
  position: absolute;
  left: .5rem;
  top: 4px;
}

form button[type='submit'] {
  margin-top: 3rem;
  height: 2.5rem;
  font-size: 1.25rem;
}

/* Footer */
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(7, 4, 1);
}

footer a {
  text-decoration: none;
  color: rgb(158, 122, 93);
}

.contact-container > *{
  margin: 0 10px;
}